.prancheta {
	max-width: 708px;
	height: auto;
}

.imagem-projeto {
	width:100%;
}


/** WooCommerce **/
.woocommerce table.cart td.actions .input-text {
	width: 160px;
}

.woocommerce-shipping-calculator {
	display: block;
	margin-top: 0;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce ul.products li.product .button {
	height: auto;
}

.checkout.woocommerce-checkout .woocommerce-checkout-review-order {
	width: 100%;
}

/** Woocommerce icons **/
.woocommerce ul.products li.product .featured,
.woocommerce ul.products li.product .onsale.custom {
	width: 100px;
	background: none;
	top: 10px;
}

.woocommerce ul.products li.product .featured {
	position: absolute;
	left: 0;
	left: auto;
	margin: -.5em -.5em 0 0;
}

/** Projetos **/
/*Index*/
#main.index-grid .imagem-item {
	width: 100%;
}
#main.index-grid section {
	padding: 4rem 4rem 2rem 4rem;
}
#main.index-grid section article {
	margin: 10px;
	padding: 0;
	border: none;
}
#main.index-grid section article:hover {
	-webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
}
#main.index-grid section article a {
	border: none;
}
#main.index-grid > .posts > * {
	width: 31.381%;
}

/*items*/
#main.items .posts.items a:link {
	border: none;
}
#main.items .posts.items a:hover {
	color: #0f0f0f !important;
}

#main.items section {
	display: inline-block;
}
#main.items section.post {
	min-height: 376px;
}
#main.items section.log {
	width: 100%;
}
#main.items .imagem-item {
	width: 50%;
	display: inline-block;
	float: left;
}

#main.items p {
	width: 50%;
	padding-left: 20px;
	display: inline-block;
	float: left;
}

/** Home - projetos **/
#main.home section.projetos {
	font-family: "Source Sans Pro",Helvetica,sans-serif;
}
#main.home section.projetos article {
	width: 100%;
}
#main.home section.projetos article .owl-item div.owl-item-inner {
	position: relative;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 20px;
	cursor: pointer;
	filter: saturate(70%);

	-webkit-transition: background-color 0.3s ease-out;
	-moz-transition: background-color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}
#main.home section.projetos article .owl-item div.owl-item-inner:hover {
	filter: saturate(100%);
}
#main.home section.projetos article .owl-item div.owl-item-inner > p {
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	padding-top: 25px;
	text-transform: uppercase;
}
#main.home section.projetos article .owl-item div.owl-item-inner div.mais {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 34px;
	font-weight: bold;
	font-size: 15px;
}
#main.home section.projetos article .owl-item div.owl-item-inner div.mais p {
	display: none;
	text-align: center;
	padding: 0 10px;
	margin: 0;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 20px;
}
#main.home section.projetos article .owl-item div.owl-item-inner:hover div.mais p {
	display: inline-block;
	-webkit-transition: background-color 0.3s ease-out;
	-moz-transition: background-color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}
#main.home section.projetos article .owl-item div.owl-item-inner:hover div.mais p:hover {
	border: 2px solid #07baf5;;
	color: #07baf5;
	background: #fff;
}
#main.home section.projetos article .owl-item a:hover {
	text-decoration: none;
}
/*carousel */


/** Home - noticias **/
#main > section.noticias {
	padding-bottom: 8rem;
}

section.noticias #myCarousel .carousel-caption {
	left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

section.noticias #myCarousel .list-group {
	max-height: 380px;
	top:0;
	right:0;
}
section.noticias #myCarousel .list-group li {
	height: 85px;
}
section.noticias #myCarousel .list-group li h5 {
	font-size: 15px;
}
section.noticias #myCarousel .list-group-item {
	border-radius:0px;
	cursor:pointer;
	overflow: hidden;
}
section.noticias #myCarousel .list-group .active {
	background-color:#eee;
}

section.noticias #myCarousel .carousel-inner {
	overflow: hidden;
}

section.noticias #myCarousel .carousel-inner .item {
	position: relative;
}

section.noticias #myCarousel .carousel-inner .item img {
	margin: auto;
	max-height: 437px;
}

section.noticias #myCarousel .carousel-inner .carousel-caption {
	position: absolute;
	top: 0;
	padding: 50px;
}

section.noticias #myCarousel .carousel-inner .carousel-caption a {
	color: #fff;
}

section.noticias #myCarousel .list-group li.active.hover,
section.noticias #myCarousel.carousel:hover {
	-webkit-box-shadow: 0px 4px 14px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 14px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 14px 2px rgba(0,0,0,0.75);
}

section.noticias #myCarousel .carousel-caption h2 {
	color: #fff;
}

@media (min-width: 992px) {
	#myCarousel .carousel-controls {
		display:none;
	}
}
@media (max-width: 991px) {
	.carousel-caption p,
	#myCarousel .list-group {
		display:none;
	}

	#main > section.noticias {
		padding-bottom: 4rem;
	}

	#main > section.noticias #myCarousel .carousel-inner .item h2 {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
	}

	#main > section.noticias #myCarousel .carousel-inner .item h2 a {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		font-size: 34px;
		text-align: center;
	}
}
